<!DOCTYPE html>
<html>

<%- include("includes/head") %>

<body class="hold-transition skin-red sidebar-mini">

	<div class="wrapper">

		<!-- The header is the topbar -->
		<%- include("includes/header") %>

		<!-- The sidebar includes the menu -->
		<%- include("includes/sidebar") %>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">

			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1> <%= userInfos.username %> <small> Dashboard v1.1 </small> </h1>
			</section>

			<section class="content">
				<div class="col-md-12">
					<!-- Widget: user widget style 1 -->
					<div class="box box-widget widget-user">
						<!-- Add the bg color to the header using any of the bg-* classes -->
						<div class="widget-user-header bg-red">
							<h3 class="widget-user-username"><%= userInfos.tag %> (<%= userInfos.id %>)</h3>
							<i><%= bot.guilds.cache.get(guild.id).name %> (<%= guild.id %>)</i>
						</div>
						<div class="widget-user-image">
							<img class="img-circle" src="<%= userInfos.displayAvatarURL %>" alt="User Avatar">
						</div>
						<div class="box-footer">
							<div class="row">
								<div class="col-sm-12">
									<div class="description-block">
										<span
											class="description-text"><%= userInfos.bio || translate("economy/profile:NO_BIO") %></span>
									</div>
								</div>
								<div class="col-sm-4 border-right">
									<div class="description-block">
										<h5 class="description-header">
											<%= translate("economy/profile:BIRTHDATE").substr(2) %></h5>
										<span
											class="description-text"><%= userInfos.birthdate ? printDate(new Date(userInfos.birthdate)) : translate("economy/profile:NO_BIRTHDATE") %></span>
									</div>
									<!-- /.description-block -->
								</div>
								<!-- /.col -->
								<div class="col-sm-4 border-right">
									<div class="description-block">
										<h5 class="description-header">
											<%= translate("economy/profile:REGISTERED").substr(2) %></h5>
										<span
											class="description-text"><%= printDate(new Date(userInfos.registeredAt)) %></span>
									</div>
									<!-- /.description-block -->
								</div>
								<!-- /.col -->
								<div class="col-sm-4">
									<div class="description-block">
										<h5 class="description-header">
											<%= translate("economy/profile:LOVER").substr(2) %></h5>
										<span
											class="description-text"><%= !userInfos.lover ? translate("economy/profile:NO_LOVER") : bot.users.cache.get(userInfos.lover).tag %></span>
									</div>
									<!-- /.description-block -->
								</div>
								<!-- /.col -->
							</div>
							<!-- /.row -->
						</div>
					</div>
					<!-- /.widget-user -->
				</div>
				<!-- /.col -->
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="info-box">
							<span class="info-box-icon bg-red"><i class="fa fa-area-chart"></i></span>

							<div class="info-box-content">
								<span class="info-box-text"><%= translate("economy/profile:LEVEL").substr(2) %></span>
								<span
									class="info-box-number"><%= guild.members.find(u => u.id === userInfos.id).level %></span>
							</div>
							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
					</div>
					<!-- /.col -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="info-box">
							<span class="info-box-icon bg-red"><i class="fa fa-area-chart"></i></span>

							<div class="info-box-content">
								<span class="info-box-text"><%= translate("economy/profile:EXP").substr(2) %></span>
								<span class="info-box-number"><%= guild.members.find(u => u.id === userInfos.id).exp %> / <%= 5 * (guild.members.find(u => u.id === userInfos.id).level * guild.members.find(u => u.id === userInfos.id).level) + 80 * guild.members.find(u => u.id === userInfos.id).level + 100 %></span>
							</div>
							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
					</div>
					<!-- /.col -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="info-box">
							<span class="info-box-icon bg-green"><i class="fa fa-money"></i></span>

							<div class="info-box-content">
								<span class="info-box-text"><%= translate("economy/profile:CASH").substr(2) %> /
									<%= translate("economy/profile:BANK").substr(2) %></span>
								<span
									class="info-box-number"><%= guild.members.find(u => u.id === userInfos.id).money %>
									/ <%= guild.members.find(u => u.id === userInfos.id).bankSold %></span>
							</div>
							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
					</div>
					<!-- /.col -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="info-box">
							<span class="info-box-icon bg-yellow"><i class="fa fa-star-o"></i></span>

							<div class="info-box-content">
								<span
									class="info-box-text"><%= translate("economy/profile:REPUTATION").substr(2) %></span>
								<span class="info-box-number"><%= userInfos.rep %></span>
							</div>
							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
					</div>
					<!-- /.col -->
				</div>
			</section>
		</div>
		<!-- /.content-wrapper -->

		<!-- Footer includes credits and version -->
		<%- include("includes/footer") %>
	</div>
	<!-- ./wrapper -->
</body>

</html>